* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.navbar {
  background-color: #FEC95A;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 60px;
}

.perfil {
  width: 30px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px;
}

.breadcrumb {
  background-color: transparent;
  color: #000;
  font-size: 18px;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
}

.agendamento-item {
  display: flex;
  align-items: center;
  background: rgba(45, 62, 80, 0.10);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}

.item-img {
  border-radius: 10px;
  width: 200px;
  height: 160px;
  object-fit: cover;
}

.item-info {
  margin-left: 20px;
  flex-grow: 1;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.details {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

input[type="date"], input[type="time"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

input[type="date"]:focus, input[type="time"]:focus {
  border-color: #FEC95A;
  outline: none;
}

.agendamento-detalhes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.taxas, .total {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.btn-confirm {
  background-color: #FEC95A;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-confirm:hover {
  background-color: #e0a000;
}
