@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box
  }


body {
    background-color: #f5f5f5;
}

.navbar{
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding-top: 16px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #2c2b2b;
}

#navbarDropdownMenuLink {
    padding-top: 14px;
}
 
.logo {
    width: 60px;    
}

.perfil {
    width: 30px;
}

.direita {
    right: 0;
    left: auto;
}

.sair {
    width: 20px;
    padding: 0px;
}

.dropdown-menu {
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.dropdown-menu a {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title a {
    font-size: 16px;
    background-color: #333; /* Cinza escuro */
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.form-title a:hover {
    background-color: #555; /* Cinza médio */
}


.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancel {
    background-color: #FF5722;
    color: #fff;
}

.btn-save {
    background-color: #4CAF50;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}