@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box
}

.navbar {
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding-top: 16px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #2c2b2b;
}

#navbarDropdownMenuLink {
    padding-top: 14px;
}

.logo {
    width: 60px;
}

.perfil {
    width: 30px;
}

.direita {
    right: 0;
    left: auto;
}

.sair {
    width: 20px;
    padding: 0px;
}

.dropdown-menu {
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.dropdown-menu a {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.breadcrumb a {
    margin-right: 10px;
    font-size: 16px;
    color: #FEC95A;
}

.breadcrumb span {
    color: #333;
}

.btn-custom {
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 220px;
    /* Mantém os botões proporcionais */
}

.btn-custom i {
    margin-right: 8px;
}


/* Alinhando os botões lado a lado */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* Espaço entre os botões */
}

#addToyButton {
    background-color: #ffd700;
    /* Amarelo suave */
    color: #fff;
    /* Texto branco */
    border: none;
    /* Sem borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Negrito */
    transition: all 0.3s ease;
    position: absolute;
    /* Define a posição do botão */
    top: 150px;
    /* Distância de 20px do topo */
    left: 59%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para que o centro do botão fique alinhado ao meio da tela */
}

#addToyButton:hover {
    background-color: #ffcc00;
    /* Amarelo mais forte ao passar o mouse */
    transform: scale(1.1) translateX(-50%);
    /* Aumento suave e manutenção da centralização */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

#dashboardButton {
    background-color: #ffd900;
    /* Amarelo suave */
    color: #fff;
    /* Texto branco */
    border: none;
    /* Sem borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Negrito */
    transition: all 0.3s ease;
    position: absolute;
    /* Define a posição do botão */
    top: 150px;
    /* Distância de 20px do topo */
    left: 43%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para que o centro do botão fique alinhado ao meio da tela */
}

#dashboardButton:hover {
    background-color: #ffcc00;
    /* Amarelo mais forte ao passar o mouse */
    transform: scale(1.1) translateX(-50%);
    /* Aumento suave e manutenção da centralização */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.home {
    width: 24px;
}

.espaco {
    display: flex;
    gap: 32px 27px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}

.bloco {
    width: 622px;
    height: 250px;
    display: flex;
    border-radius: 13.362px;
    background: rgba(45, 62, 80, 0.10);
    padding: 20px;
    box-shadow: 5.139px 5.139px 4.111px 0px rgba(0, 0, 0, 0.25), 4.111px -1.028px 4.728px 0px rgba(0, 0, 0, 0.25);
}

.bloco-add {
    width: 622px;
    height: 250px;
    display: flex;
    border-radius: 13.362px;
    background: rgba(45, 62, 80, 0.10);
    padding: 20px;
    box-shadow: 5.139px 5.139px 4.111px 0px rgba(0, 0, 0, 0.25), 4.111px -1.028px 4.728px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.img-brinquedo {
    border-radius: 24px;
    height: 214px;
    width: auto;
}

.dados {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
}

.title {
    display: flex;
    align-items: baseline;
    color: #000;
    margin-bottom: 0.7rem;

}

.title h4 {
    color: #000;
    font-family: Epilogue;
    font-size: 23spx;
    font-style: italic;
    font-weight: 700;
    line-height: 0px;
    /* 0% */
    text-transform: uppercase;
}

.specs p {
    color: #000;
    font-family: Epilogue;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.specs strong {
    color: #000;
    font-family: Epilogue;
    font-size: 16px;
    text-transform: uppercase;
}

.edit img {
    height: 15px;
}

.edit {
    margin-left: 8px;
}


.status img {
    height: 20px;
}

.add {
    width: 199px;
}

footer {
    height: 60px;
}