@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box
  }

  body{
    background-color: #F0EFEF;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .conteudo{
    display: flex;
    width: 1100px;
    height: 600px;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
  }

  .quadradoamarelo{
    width: 30%;
    height: 100%;
    border-radius: 35px 0px 0px 35px;
    background: #FEC95A;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container-amarelo{
    height: 30rem;

  }

  .titulo{
    flex-shrink: 0;
    color: #FFF;
    font-family: "Kreon";
    font-size: 42px;
    font-style: normal;
    line-height: normal;
  }

  .descricao{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 30px 15px 30px;
  }

  .dropdown .btn{
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #FFF;
    padding: 0.4rem;
    background-color: transparent;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

  .header-back{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .conteudo-login-amarelo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    
  }


  .back{
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    padding-top: 20px;
    text-decoration: none;
  }

  .back:hover{
    color: #F0EFEF;
  }

  .logo{
    width: 140px;
    height: 118px;
    flex-shrink: 0;
  }

  .quadradobranco{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    width: 98%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titulo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 87%;
  }

  .titulo-login h2{
    color: #FEC95A;
    text-align: center;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  [type="email"] {
    margin-bottom: 25px;
    width: 580px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(45, 62, 80, 0.10);
    color: rgba(45, 62, 80, 0.90);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;
    padding: 2px;
    padding-left: 8px;
  }

  [type="password"] {
    margin-bottom: 5px;
    width: 580px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(45, 62, 80, 0.10);
    color: rgba(45, 62, 80, 0.90);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;
    padding: 2px;
    padding-left: 8px;
    margin-bottom: 10px;
  }

  .botao-logar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }


  .botao-logar button{
    width: 25%;
    height: 3rem;
    border: 0px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FEC95A;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .botao-logar :hover{
    background-color: #FED378;
    cursor: pointer;
    border: 0.1px solid #FEC95A;
  }

  .esquecisenha{
    text-decoration: none;
    color: #2D3E50;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 50%;
  }
  
  .formularios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .email{
    display: flex;
    align-items: flex-start;

  }

  .senha{
    display: flex;
    align-items: flex-start;
  }

  .icone-mail{
    width: 34px;
    flex-shrink: 0;
    margin: 8px;
    margin-top: 10px;
    padding-top: 5px;
  }

  .icone-cadeado{
    width: 34px;
    flex-shrink: 0;
    margin: 8px;
    margin-top: 10px;
    padding-top: 5px;
  }

  .dropdown-menu {
    background-color: #FEC95A;
    border-radius: 30px;
  }

  .dropdown-menu h6{
    color: rgb(27, 27, 27);
  }

  .dropdown-menu a{
    color: black;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}