@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter,Epilogue;
}

body {
  background-color: #fff;
}

.navbar{
  background-color: var(--Botes, #FEC95A);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #5b5b5f;
}

#navbarDropdownMenuLink {
  padding-top: 14px;
}

.logo {
  width: 60px;    
}

.perfil {
  width: 30px;
}

.direita {
  right: 0;
  left: auto;
}

.sair {
  width: 20px;
  padding: 0px;
}

.dropdown-menu {
  background-color: var(--Botes, #FEC95A);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.dropdown-menu a {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.breadcrumb {
  background-color: #fff;
  margin-bottom: 5px;
  margin: 10px 0px 10px 0px;
  color: #000;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
}

.breadcrumb ol {
  background-color: #fff;
}

.breadcrumb a {
  color: #000;
}

.breadcrumb-item.active {
  color: #000;
}

.home{
  width: 24px;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-carrinho {
  display: flex;
  width: 98%;
  align-items: center;
  border-radius: 5px;
  background: rgba(45, 62, 80, 0.10);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25), 4px -1px 4.6px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  height: calc(padding + 120px);
  text-align: left;
}
.detalhes-item{
  text-align: left;
  margin-left: 15px;
  width: 950px;
  height: 150px;
}

#titulo-item {
  color: #000;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

#subtitulo-item{
  color: #000;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
  text-transform: uppercase;
  margin-bottom: 20px;
}

#data-reserva{
  color: #000;
  font-family: Epilogue;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#preco-item {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  color: #000;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  height: 150px;
  display: flex;
  align-items: flex-end;
}

#preco-item p {
  margin-bottom: 0px;
}  
.container-endereco {
  margin-top: 18px;
  width: 98%;
  padding: 20px;
  border-radius: 5px;
  background: rgba(45, 62, 80, 0.10);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25), 4px -1px 4.6px 0px rgba(0, 0, 0, 0.25);
}


.formulario-endereco {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.linha {
  display: flex;
  gap: 10px;
  
}
.campo {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0e0e0;
}
.campo::placeholder {
  color: #929292;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.observacao {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  text-align: right;
}
.campo{
  border-radius: 10px;
  background: rgba(45, 62, 80, 0.20);
}
.text{
  color: #929292;
}
.container-pagamento {
  background-color: #d1d5da;
  padding: 20px;
  width: 98%;
  border-radius: 8px;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25), 4px -1px 4.6px 0px rgba(0, 0, 0, 0.25);
  margin-top: 18px;
}

.titulo {
  font-size: 18px;
  margin-bottom: 10px;
}

.formulario-pagamento {
  margin-top: 30px;
}

.opcao {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 30px;
  color: #000;
}

.checkbox {
  margin-right: 8px;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.total {
  font-size: 14px;
  color: #000;
}

.confirmaçao{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 15px;
  margin-top: 25px;
}
#botaoconfirmar {
  width: 204px;
  height: 38px;
  border-radius: 7px;
  margin-right: 11px;
  background: #FEC95A;
  border: none;
  color: #000;
  font-family: Epilogue;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; 
  text-transform: uppercase;
  margin-right: 25px;
}
#total{
  color: #000;
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; 
  text-transform: uppercase;
  margin-top: 25px;
}