@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box
  }

.navbar{
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding-top: 16px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #2c2b2b;
}

#navbarDropdownMenuLink {
    padding-top: 14px;
}
 
.logo {
    width: 60px;    
}

.perfil {
    width: 30px;
}

.direita {
    right: 0;
    left: auto;
}

.sair {
    width: 20px;
    padding: 0px;
}

.dropdown-menu {
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.dropdown-menu a {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 5px;
    margin: 10px 0px 10px 0px;
    color: #000;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb-item.active {
    color: #000;
}

  main {
    padding: 20px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.list-pedidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedido {
    margin-bottom: 20px;
    display: flex;
    padding: 15px;
    width: 95%;
    flex-shrink: 0;
    border-radius: 13px;
    background: rgba(45, 62, 80, 0.10);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25), 4px -1px 4.6px 0px rgba(0, 0, 0, 0.25);
    align-items: flex-end;
}

.pedido img {
    object-fit: cover;
    width: 152px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 24px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    backdrop-filter: blur(2px);
}

.detalhes {
    margin-left: 15px;
}

.detalhes h3 {
    margin: 0;
    color: #000;
    font-family: Epilogue;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-top: 18px;
}

.acoes {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 635px;
}

.acoes p {
    color: #000;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
}

#num1{
    color: #000;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-left: 200px;
    margin-top: 6px;
    
}
#num2{
    color: #000;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-left: 265px;
    margin-top: 6px;
}
#num3{
    color: #000;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 6px;
}
#num4{
    color: #000;
    width: 100px;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-left: 358px;
    margin-top: 6px;
}
#num5{
    color: #000;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-left: 287px;
    margin-top: 6px;
}



.detalhes p {
    width: 500px;
    flex-shrink: 0;
    color: #000;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 0%;
    display: flex;
}

.btn-andamento {
    color: white;
    width: 185px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2D3E50;
    color: #FFF;
    font-family: Epilogue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
    margin-top: 95px;
}


#btn-novo{
    width: 93px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #34A853;
    color: #FFF;
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    text-transform: uppercase;
}
