@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box
  }

.navbar{
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding-top: 16px;
}

.nav-link:hover {
    color: #2c2b2b;
}

#navbarDropdownMenuLink {
    padding-top: 14px;
}
 
.logo {
    width: 60px;    
}

.perfil {
    width: 30px;
}

.direita {
    right: 0;
    left: auto;
}

.sair {
    width: 20px;
    padding: 0px;
}

.dropdown-menu {
    background-color: var(--Botes, #FEC95A);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.dropdown-menu a {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.lupa {
    width: 20px;
    color: rgba(146, 146, 146, 0.53);

}

.icon-lupa {
    color: rgba(146, 146, 146, 0.53);
    background: rgba(45, 62, 80, 0.15);
    box-shadow: 4px 3px 2.8px 0.5px rgba(0, 0, 0, 0.25);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px ;

}

.input-group {
    margin-top: 70px;
    margin-left: 7.5%;
    margin-bottom: 0px;
    width: 85%;
    color: rgba(146, 146, 146, 0.53);
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    box-shadow: 4px 3px 2.8px 0.5px rgba(0, 0, 0, 0.25);
}

.input-group input {
    border-radius: 10px;
    border: 0.5px solid rgba(45, 62, 80, 0.20);
    background: rgba(45, 62, 80, 0.15);
    border-left: 0px;
    border-right: 0px;
}

.filtros {
    width: 84%;
    margin-left: 7.5%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}